<html ng-app="hobusu">
<head>
    <title>Hobusu</title>
    <base href="/">

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/jquery-validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-cookies.min.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/angular-chart.min.js"></script>
    <script src="js/angular-validate.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/chart.css">
    <link rel="stylesheet" href="css/form-elements.css">




</head>
<body ng-controller="MainController">

<div ng-include src="'/core/base/navbar.html'" ng-if="logged"></div>

<div class="container">

    <div ng-include="" src="'/core/account/forms.html'"></div>

    <div data-ng-view="" style="height: 100%" ng-if="logged"></div>

    <script src="core/configuration/configuration.js"></script>
    <script src="core/account/service/session.js"></script>
    <script src="core/base/main.js"></script>
    <script src="core/account/login.js"></script>
    <script src="core/account/register.js"></script>
    <script src="core/account/logout.js"></script>
    <script src="core/categories/category.js"></script>
    <script src="core/transactions/transaction.js"></script>
    <script src="core/transactions/transaction-month.js"></script>
    <script src="core/statistics/category/monthly-summary/categoryMonthlySummary.js"></script>
    <script src="core/statistics/account/daily-summary/accountBalance.js"></script>
    <script src="core/statistics/account/monthly-summary/accountMonthlySummary.js"></script>
    <script src="core/statistics/transaction/most-expensive/mostExpensiveTransactions.js"></script>
</div>
</body>
</html>